.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.home_header a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.home_header a:hover {
  text-decoration: underline;
}

.home_headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home_headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.home_body > img {
  object-fit: contain;
  height: 100px;
}
